<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>JavaTravelers - Rest API</title>
    
    <link rel="stylesheet" type="text/css" href="style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">   
</head>
<body>   
    <div class="principal">
        <header class="container-fluid">
            <div class="container">
                <nav class="navbar">
                    <a class="navbar-brand" href="">
                        <img src="images/warrior.svg" alt="" class="logoWarrior" >
                    </a>
                    <h1>Java Travelers Rest API - 1.0</h1>
                </nav>
            </div>
        </header>
        
        <div class="container">
            <div class="row m-0 p-0">
                <div class="col-6 mt-5 p-0">
                    <div class="container textApresentation">
                        <p>JavaTravelers Rest API foi desenvolvida para permitir a busca de passagens aéreas, bem como favoritar, 
                           e realizar a compra integrada com o PagSeguro. O projeto foi desenvolvido durante o treinamento realizado pela Gama para os New Joiners da Accenture.
                        </p>
                        <p>
                            Desenvolvido pelo grupo 8 - @javaWarriors
                        </p>
                    </div>
                    <div class="container align-content-around buttons">
                        <div>
                            <a href="https://javatravelers-backend.azurewebsites.net/swagger-ui.html#/payment-controller/payWithCheckoutUsingPOST" target="blank">
                                <h2>Documentação Swagger</h2>
                            </a>    
                        </div>
                        <div>
                            <a href="#" target="blank">
                                <h2>Github</h2>
                            </a>    
                        </div>
                        <div>
                            <a href="https://www.accenture.com/br-pt" target="blank">
                                <h2>Accenture</h2>
                            </a>    
                        </div>
                        <div>
                            <a href="https://gama.academy/?utm_medium=google&utm_source=compramidia&utm_campaign=institucional&utm_content=pesquisa&gclid=EAIaIQobChMInZbWgq_x7AIVTQmRCh0iqgVeEAAYASAAEgL8YvD_BwE" target="blank">
                                <h2>Gama</h2>
                            </a>    
                        </div>
                    </div>
                    
                </div>
                <div class="col-6 m-0 p-3 text-center">
                    <img class="warriorCentral" src="images/warrior.png"/>
                </div>
            </div>    
        </div>

        <footer >
            <div class="container mt-4">
                <div class="row m-0 p-0">
                    <div class="col-3 m-0 p-2 footerText text-center">
                        <div>
                            <img class="mb-2 rounded-circle"src="images/adriano.jpg" />
                        </div>
                        <div class="footerText">
                            <span>Adriano Almeida - </span>
                            <span>Estudio8Br</span>
                            <span>adriano.estudio8@gmail.com</span>
                        </div>
                    </div>
                    <div class="col-3 m-0 p-2 footerText text-center">
                        <div>
                            <img class="mb-2 rounded-circle" src="images/luciano.jpg" />
                        </div>
                        <div class="footerText">
                            <span>Luciano L. Romero - </span>
                            <span>lucianoromero</span>
                            <span>lucianoluizromero@gmail.com</span>
                        </div>
                    </div>
                    <div class="col-3 m-0 p-2 footerText text-center">
                        <div>
                            <img class="mb-2 rounded-circle" src="images/bilotta.jpg" />
                        </div>
                        <div class="footerText">
                            <span>Luiz E. Bilotta - </span>
                            <span>LuizEduardoBilotta</span>
                            <span>luizeduardobilotta@gmail.com</span>
                        </div>
                    </div>
                    <div class="col-3 m-0 p-0 footerText text-center">
                        <div>
                            <img src="images/logo_accenture.png" alt="" class="logos">
                        </div>
                        <div>
                            <img src="images/game-academy.jpg" alt="" class="logos">
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
            crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
            crossorigin="anonymous">
    </script>
</body>
</html>